ion-content{
    --background: url(./../../../assets/img/uuuh.jpg) 0 0/100% 100% no-repeat;
}

.cartita {
    border-radius: 15px;
    
    background-color: rgba(0, 0, 0, 0.677);
    
}

ion-button {
    display: block;
    margin: auto;
  }