<ion-content>
  <ion-slide>
    <div class="contaier-login">
      <ion-row>
        <ion-col>
          <h1 style="color: rgb(255, 255, 255);">Cambiar contraseña</h1>
        </ion-col>
      </ion-row>
      <form [formGroup]="formCamb" (ngSubmit)="cambiar()">

        <ion-row>
          <ion-col>

            <ion-list>
              <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input type="text" formControlName="usuario" placeholder="Ingresar Usuario"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="text" formControlName="correo" placeholder="Ingresar Correo Electronico"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">RUT</ion-label>
                <ion-input type="text" formControlName="rut" placeholder="Ingresar RUT"></ion-input>
              </ion-item>
            </ion-list>

          </ion-col>
        </ion-row>

        <div class="botones">

          <ion-button type="submit" expand="full">Validar</ion-button>
          <ion-button [routerLink]="['/']" expand="full">Volver</ion-button>
        </div>


      </form>
    </div>
  </ion-slide>
</ion-content>